**/bin/
**/obj/
**/node_modules/
.git/
*.dockerignore
*.gitignore
*.env
README.md
Dockerfile*
docker-compose*
.docker/
**/TestResults/
**/.vs/
**/packages/
*.swp
*.swo
*.log
**/appsettings.Development.json
**/appsettings.json