**/bin/
**/obj/
**/node_modules/
.git/
**/.dockerignore
**/.gitignore
**/.env
**/README.md
*.dockerignore
Dockerfile*
docker-compose*
.docker/
**/TestResults/
**/.vs/
**/packages/
*.swp
*.swo
**/appsettings.Development.json
**/appsettings.json